h1 span { font-size: 10px; color: #999; font-weight: normal;}
h1 span.moderation-requires-approvement { color: #f60; }
h1.moderation-approve-deletion { color: #c00; }
div fieldset.module.hidden { position: absolute; left: -1000em; }


/* Page form */


ul#page_form_lang_tabs {
    text-align: left;
    margin: 0px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 5px solid #C6DBEE;
    list-style-type: none;
    padding: 5px 10px 3px 0px;
}

ul#page_form_lang_tabs li {
    display: inline;
}


ul#page_form_lang_tabs li a {
    padding: 3px 4px;
    margin-right: 0px;
    text-decoration: none;

    background-color: #fff;
    color: #000;

    border: 1px solid #d8d8e3;
    border-bottom: 0px;
}

ul#page_form_lang_tabs li.active_tab a {
    background-color: #C6DBEE;
    color: #fff;
}

ul#page_form_lang_tabs a:hover {
    background: #fff;
}


.language_button {
	color: #444;
	background-color: #e3e3e3;
	border: 1px  solid #bdbdbd !important;
    border-bottom:0px !important;
	border-color: #000;
	border-radius: 4px 4px 0 0 !important; -moz-border-radius: 4px 4px 0 0 !important; -webkit-border-radius:  4px 4px 0 0 !important;
	padding: 10px 15px 20px 15px!important;
	margin-right: 4px;
}
.language_button:hover {
	color: #212121 !important;
}
.notfilled{
	background: #eee !important;
    background: -moz-linear-gradient(top, #bbb, #d0d0d0) !important;
	color: #888 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#eee)) !important;
}

.language_button.selected { 
	padding-top: 14px;
    margin-bottom:-2px;
    color:#444;
	background: #eee !important;
    background: -moz-linear-gradient(top, #d0d0d0, #eee) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#eee)) !important;
}


.deletetranslation { margin-left: 30px; }
